<div class="card">
    <h4 class="card-header"><i class="lni lni-credit-cards"></i> <b> Make</b> Transfer</h4>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="fromAccount">From Account</label>
                <input type="text" formControlName="fromAccount" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="toAccount">To Account</label>
                <input type="text" formControlName="toAccount" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.controls.toAccount.errors }" placeholder="type an account name" />
                <div *ngIf="submitted && form.controls.toAccount.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.toAccount.errors.required">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <div class="input-group">
                    <span class="currency-addon">€</span>
                    <!-- <span class="currencyinput"> -->
                    <input type="number" formControlName="amount" class="form-control" placeholder="specify the amount"
                        [ngClass]="{ 'is-invalid': submitted && form.controls.amount.errors }" />
                    <!-- </span> -->
                    <div *ngIf="submitted && form.controls.amount.errors" class="invalid-feedback">
                        <div *ngIf="form.controls.amount.errors.required">This field is required</div>
                        <div *ngIf="form.controls.amount.errors?.max">There is not enough balance</div>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <app-submit-button class ="submitform"(submitForm)="submit(content,form.value)"></app-submit-button>
            </div>
        </form>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><b>Review</b> Transfer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><i>Are you ready to send out this transfer?</i></p>
        <p><b>It will be send to account:</b></p>
        <p>{{modalContent.toAccount}}</p>
        <p><b>With the amount of:</b></p>
        <p>€ {{modalContent.amount}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn remove" (click)="modal.close('Cross click')">Close</button>

        <button type="button" class="btn send" (click)="modal.close('send')">Send Transfer</button>
    </div>
</ng-template>