
.main-view{
    display:flex;
    position:relative;
    
    img{
        // position:relative;
        width:100vw;
        height:calc(100vh - 100px);
        filter: blur(2px);

    }
    app-transfer-form{
        top:100px;

        left:300px;
        position:absolute;
    }
    app-transactions-list{
        top:100px;
        left:800px;
        position:absolute;
    }
    app-footer{
        margin:10px 0px;
    }

}
.top-view{
    .assignment{
        float:right;
        margin-top:20px;
        margin-right:20px;
    }
}
